
@{
    ViewBag.Title = "SignUp";
}

<h2>Fill the Form below:</h2>

<form class="form-group" action="/Login/AddUser" method="POST">
    <label for="name">Email:</label>
    <input type="text" name="email" class="form-control" />
    <label for="name">Password:</label>
    <input type="password" name="password" class="form-control" />

    <input type="submit" value="Sign up" class="btn btn-success"/>
</form>


