
@{
    ViewBag.Title = "SignUp";
}

<h2>Fill the Form below:</h2>

<form class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" class="form-control" />
    <label for="name">Last Name:</label>
    <input type="text" name="lastname" class="form-control" />
    <label for="name">Email:</label>
    <input type="text" name="email" class="form-control" />
    <label for="name">Password:</label>
    <input type="password" name="password" class="form-control" />
</form>

